* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #f9f9f9;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}